{% extends 'layout.html' %}

{% block content %}
    <div class="formwrapper">
        <h2 class="title">Calculadora de Juros Compostos</h2>
        <form method="POST" action="/">
            {{ form.csrf_token }}
            <fieldset class="form-field">
            {{ form.montante_inicial.label }}
            {{ form.montante_inicial }}
                {% if form.montante_inicial.errors %}
                <ul class="errors">
                {% for error in form.montante_inicial.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </fieldset>

            <fieldset class="form-field">
                {{ form.aportes_mensais.label }}
                {{ form.aportes_mensais }}
                {% if form.aportes_mensais.errors %}
                <ul class="errors">
                    {% for error in form.aportes_mensais.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>

            <fieldset class="form-field">
                {{ form.taxa_mensal.label }}
                {{ form.taxa_mensal }}
                {% if form.taxa_mensal.errors %}
                <ul class="errors">
                    {% for error in form.taxa_mensal.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>

            <fieldset class="form-field">
                {{ form.tempo_meses.label }}
                {{ form.tempo_meses }}
                {% if form.tempo_meses.errors %}
                <ul class="errors">
                    {% for error in form.tempo_meses.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <div class="submit-button">
            {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}