body {
    background-color:rgba(199, 199, 199, 0.1) !important;
}

.form-title{
    font: 26px Arial, Helvetica, sans-serif;
    color: #17445E;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.formwrapper{
    display: block;
	background: #FAFAFA;
	margin: 100px auto;
}

.resultswrapper{
    display: block;
    background: #FAFAFA;
    margin: 100px auto
}





